:root {
  --primary-color: #4d9359f1;
  --secondary-color: #b8f1acff;
  --tertiary-color: #4e7f3b;
}

html , body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #4d9359f1;
  height:auto;
  overflow:auto;
}

html body * {
  font-family: "Playwrite GB S", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

section {
  padding: 20px;
}

h1,h2, h3 {
  color: #b8f1acff;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 8px;
  border-radius: 10px;
  border: 2px solid #6db976f1;
  background-color: rgb(238, 250, 242)
}

input::placeholder {
  color: var(--tertiary-color);
  font-family: "Playwrite GB S", serif;
  font-optical-sizing: auto;
  font-style: normal;
}



.macro {
  color: #0e150ff1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
  background-color: #6db976f1;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.205);
  border-radius: 10px;
  padding-left:12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#macros-heading {
  margin-bottom: 16px;
  font-size: 24px;
}

h4, p {
  margin-block-end: 0;
  margin-block-start: 0;
}

.food-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  background-color: #b8f1acff;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
  color: black;
}

.food-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: 24px;
}

.progress-ring-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.progress-ring {
  justify-content: center;
  align-items: center;
  position: relative;
}

.calorie-progress {
  display: flex;
  justify-content: center;
  border:10px solid #4e7f3b;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  align-items: center;
}

.calorie-progress-value {
  font-size: 2rem;
  position: absolute;
  color: black;
}

#submit-button {
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #4d9359f1;
  border-radius: 5px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.205);
}

#submit-button:hover {
  background-color: #4e7f3b;
}


#food-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  gap: 10px;
}

#submit-arrow {
  width: 20px;
}

#food-list {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

button {
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #4d9359f1;
  border-radius: 5px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.205);
  transition: background-color 0.6s;
}

#reset {
  background-color: #4e7f3b;
  color: white;
  margin-top: 32px;
}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  width: 200px;
  height: 200px;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

input {
  /* position: fixed; */
  top: 10px;
  left: 10px;
  width: 80px;
}

.food-content {
  background-color: #b8f1acff;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.205);
  border-radius: 10px;
}

.card-heading {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}
h1 {
  font-size: 28px;
}
